SERVICE_NAME = AUTH_SERVICE
NODE_ENV = development
########
HOST = localhost
PORT = 8081
###########
DB_HOST = localhost
DB_PORT = 5432
DB_USERNAME = <DB_USERNAME>
DB_PASSWORD = <DB_PASSWORD>
DB_NAME = mern-stack-auth-service

